<?xml version="1.0" encoding="utf-8"?>
<config>
  <name>Title1</name>
  <namePrefix>TitlePrefix</namePrefix>
  <nameSuffix>TitleSuffix</nameSuffix>
  <ignoreDirectoryNames>css</ignoreDirectoryNames>
  <ignoreDirectoryNames>script</ignoreDirectoryNames>
  <ignoreDirectoryNames>template</ignoreDirectoryNames>
  <pythonExePath>C:\Python27\python.exe</pythonExePath>
</config>