/* CustomCss */
@font-face {
  font-family: "SubsetSourceHanSans";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/SourceHanSans-Regular-Subset.woff") format("woff"),
       url("/fonts/SourceHanSans-Regular-Subset.woff2") format("woff2");
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
html {
  font-size: 62.5%;
  line-height: 1.5; /* DefaultFontSize 16px x 1.5 = BaseLine 24px */
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 1.6rem;
  font-family: "SubsetSourceHanSans", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Hiragino Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Segoe UI, "メイリオ", Meiryo, sans-serif;
}
pre,
code {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  font-family: "MS Gothic", monospace;
}
code {
  background-color: whitesmoke;
  color: #f03;
  font-size: 1.4rem;
  font-weight: normal;
  padding: 0.25em 0.5em;
}
pre {
  -webkit-overflow-scrolling: touch;
  background-color: whitesmoke;
  color: #333;
  font-size: 1.4rem;
  overflow-x: auto;
  padding: 2rem 2.4rem;
  white-space: pre;
  word-wrap: normal;
}
pre code {
  background-color: transparent;  /* 透明 */
  color: currentcolor;            /* 親の配色を継承 */
  font-size: 1em;
  padding: 0;
}
blockquote {
  position: relative;
  border: 1px solid #666;
  padding: 0px;
  margin: 1.6rem 0 1.6rem 3.2rem;
}
blockquote p {
  padding: 1.6rem 3.2rem;
}
blockquote cite {
  display: block;
  padding: 0 3.2rem 1.6rem 1.6rem;
  text-align: right;
}
blockquote > p > cite {
  padding: 0.8rem 0 0;
}
blockquote::before {
  position: absolute;
  top: 0;
  left: 0;
  content: url(data:image/gif;base64,R0lGODlhHgAeALMAAHBwcI+Pj7i4uKOjo+Dg4Ovr662trdbW1vX19ZmZmczMzHp6esLCwoWFhWZmZv///yH5BAAAAAAALAAAAAAeAB4AAASJ8MlJq7046827/2AojiRGDIAjXAeqcoYjO4wVz8o2zEBe7TLAYSPgESzF4FGDSMlWlYLzReRdko5FJzALXBrdzkxmWE7GjvIGLUsgzuyBhv2Es6EXusMr0csxC3R8D1NjgxZAaH8PiWN4Fk1sQxJSbAUaBQMBmwmTE5mbAQk+JaWmp6ipqqusIxEAOw==)
}
blockquote::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: url(data:image/gif;base64,R0lGODlhHgAeALMAAMLCwnBwcMzMzJmZmY+Pj62trfX19Xp6eri4uNbW1uDg4GZmZv///wAAAAAAAAAAACH5BAAAAAAALAAAAAAeAB4AAAR9kMlJq7046827/2AojmT5FcGiHkKFpGubJWqtJhNg10pW7KrBZABcCDGE4mKSBAZ8ymEUI5gydEUNAGajvIAcAXdZEdeenOaCcFEfNQYuwGKwzTe/lcGSXxw4WDcWgQs4Ggh2fImHZzJeNSxhBAMAe4OTlSaam5ydnp+gHhEAOw==);
}
dd + dt {
  margin-top: 1.6rem;
}
dd > p {
  margin: 0;
}
h1 {
  font-size: 3.2rem;    /* 32px */
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
}
h2 {
  font-size: 2.4rem; /* 24px */
  margin-top: 4.8rem;
  margin-bottom: 2.4rem;
  line-height: 2em;  /* FontSize 24px x 2 = 48px */
  border-bottom: 1px solid #000;
}
h3 {
  font-size: 2rem;  /* 20px */
  margin-top: 3.6rem;
  margin-bottom: 2.4rem;
  line-height: 3.6rem;  /* FontSize 10px x 3.6rem = 36px */
}
h3::before {
  content: "◆";
}

.container1000 {
  padding: 0 2.4rem;
  /* max-width: 99.2rem; */
  max-width: 128rem;
}

.container {
}

.main {
}

.sidebar {
  margin-top: 4.8rem;
}

header {
  text-align: right;
  min-height: 4rem;
  margin-bottom: 1.6rem;
  padding: 1.6rem 2.4rem;
}
header p,
header nav ul {
  margin: 0;
  padding: 0;
}
header p {
  font-size: 2rem;
  font-weight: bold;
}
header p a {
  position: absolute;
  left: 2.4rem;
  top: 1.6rem;
}
header nav ul {
  list-style: none;
}
header nav ul li {
  display: inline-block;
  margin-left: 2.4rem;
}
header a {
  text-decoration: none;
  color: MidnightBlue;
}
header li a:hover {
  text-decoration: underline;
}



@media all and (min-width: 768px) {
  /* タブレット */
}

@media all and (min-width: 980px) {
 /* デスクトップ */
 .container {
   display: flex;
 }
 .main {
   flex: 1;
   order: 1;
   margin-right: 2.4rem;
 }
 .sidebar {
   width: 30rem;
   order: 2;
   margin-top: 0;
   margin-left: 2.4rem;
 }
 
 .sidebar h2:first-child {
   margin-top: 0;
   border-bottom: none;
 }
}
