@charset "utf-8";

/* グリッドレイアウト用のクラスはFLOCSSの外に出しておく */

.grid {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin: 0 -0.5rem;
}

.cell {
  box-sizing: border-box;
  padding: 0 0.5rem 1rem;
  max-width: 100%;
  flex: 1 1 0%;  /* 伸びる比率 縮む比率 ベース幅 */
}

.grid .cell,
.grid [class*="cell-"] {
  margin: 0;
  padding: 0;
}

.grid > [class*="cell-1"] {
  flex-basis: 8.33333%;
  max-width: 8.33333%;
}

.grid > [class*="cell-2"] {
  flex-basis: 16.66667%;
  max-width: 16.66667%;
}

.grid > [class*="cell-3"] {
  flex-basis: 25%;
  max-width: 25%;
}

.grid > [class*="cell-4"] {
  flex-basis: 33.33333%;
  max-width: 33.33333%;
}

.grid > [class*="cell-5"] {
  flex-basis: 41.66667%;
  max-width: 41.66667%;
}

.grid > [class*="cell-6"] {
  flex-basis: 50%;
  max-width: 50%;
}

.grid > [class*="cell-7"] {
  flex-basis: 58.33333%;
  max-width: 58.33333%;
}

.grid > [class*="cell-8"] {
  flex-basis: 66.66667%;
  max-width: 66.66667%;
}

.grid > [class*="cell-9"] {
  flex-basis: 75%;
  max-width: 75%;
}

.grid > [class*="cell-10"] {
  flex-basis: 83.33333%;
  max-width: 83.33333%;
}

.grid > [class*="cell-11"] {
  flex-basis: 91.66667%;
  max-width: 91.66667%;
}

.grid > [class*="cell-12"] {
  flex-basis: 100%;
  max-width: 100%;
}

/* Foundation Layer */
/* Normalize.cssをロードしたあと... */

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  font-size: 62.5%;
  line-height: 1.5;   /* デフォルトフォントサイズ 16px x 1.5 = ベースライン 24px */
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Hiragino Sans', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', Segoe UI, 'メイリオ', Meiryo, sans-serif;
  padding: 0 3.2rem;
  max-width: 99.2rem;
}

pre,
code {
  font-family: "MS Gothic", monospace;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  max-width: 100%;
}

tbody tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}

th,
td {
  border-bottom: .1rem solid #efefef;
  padding: 1.6rem 1rem;
}

th {
  border-color: #c9c9c9;
}

dd + dt {
  margin-top: 1.6rem;
}

blockquote > p {
  margin: 0;
}

/* Layout Layer */

/*body,
.l-wrapper {
  display: flex;
  flex-direction: column;
}

.l-wrapper {
  min-height: 100vh;
}

.l-header {
  height: 4.8rem;
  margin-bottom: 1.2rem;
}

.l-content {
  flex: 1 1 auto;
}

.l-content > .l-main {
}

.l-content > .l-sidebar {
  margin-top: 4.8rem;
}

.l-footer {
  height: 3.6rem;
  margin-top: 1.2rem;
  line-height: 3.6rem;
}*/

@media all and (min-width: 76.8rem) {
  /* タブレット */
}

@media all and (min-width: 99.2rem) {
  /* PC */
  /*.l-content {
    display: flex;
    flex-flow: row nowrap;
  }

  .l-content > .l-main,
  .l-content > .l-sidebar {
    margin-top: 0;
    padding: 0 .5rem 1rem;
  }

  .l-content > .l-main {
    flex: 1 1 0%;
  }

  .l-content > .l-sidebar {
    width: 300px;
  }*/
  body {
    padding: 0 3.2rem;
  }
  
  blockquote {

  }
}

@media all and (min-width: 112rem) {
  /* PC大画面 */
}



/* Object Layer */

/* Object-Component */

blockquote {
  position: relative;
  border: 1px solid #666;
  padding: 0px;
  margin: 1.6rem 0 1.6rem 3.2rem;
}

blockquote p {
  padding: 1.6rem 3.2rem;
}

blockquote cite {
  display: block;
  padding: 0 3.2rem 1.6rem 1.6rem;
  text-align: right;
}

blockquote > p > cite {
  padding: 0.8rem 0 0;
}

blockquote::before {
  position: absolute;
  top: 0;
  left: 0;
  content: url(data:image/gif;base64,R0lGODlhHgAeALMAAHBwcI+Pj7i4uKOjo+Dg4Ovr662trdbW1vX19ZmZmczMzHp6esLCwoWFhWZmZv///yH5BAAAAAAALAAAAAAeAB4AAASJ8MlJq7046827/2AojiRGDIAjXAeqcoYjO4wVz8o2zEBe7TLAYSPgESzF4FGDSMlWlYLzReRdko5FJzALXBrdzkxmWE7GjvIGLUsgzuyBhv2Es6EXusMr0csxC3R8D1NjgxZAaH8PiWN4Fk1sQxJSbAUaBQMBmwmTE5mbAQk+JaWmp6ipqqusIxEAOw==)
}

blockquote::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: url(data:image/gif;base64,R0lGODlhHgAeALMAAMLCwnBwcMzMzJmZmY+Pj62trfX19Xp6eri4uNbW1uDg4GZmZv///wAAAAAAAAAAACH5BAAAAAAALAAAAAAeAB4AAAR9kMlJq7046827/2AojmT5FcGiHkKFpGubJWqtJhNg10pW7KrBZABcCDGE4mKSBAZ8ymEUI5gydEUNAGajvIAcAXdZEdeenOaCcFEfNQYuwGKwzTe/lcGSXxw4WDcWgQs4Ggh2fImHZzJeNSxhBAMAe4OTlSaam5ydnp+gHhEAOw==);
}

/* Object-Project */

/* Object-Utility */
